#cap {
    background-color: chocolate;
    color: aliceblue;
}

#cap2 {
    color: brown;
}

#pg {
    color: blue;
}

#fundo {
    background-color: grey;
}

#link{
    font-size: xx-large;
    color: brown;
}